.view_body {
	margin: 5vh 8vw 5vh 8vw;
}

.view_header {
	display: flex;
}
.view_goList-button {
	display: flex;
	width: 15vw;
	color: black;
	flex-direction: column;
	justify-content: center;
	padding-left: 5vw;
}
.view_goList-button a{
	width: 3vw;
}
.view_memo-title {
	display:flex;
	justify-content: center;
	padding-right: 15vw;
	width: 85vw;
	font-size: 20px;
}


.view_contents {
	display: flex;
	heigth:100%;
	flex-direction: column;
}
.view_contents_line {
	display: flex;
	margin: 0 15%;
	width: auto;
	align-items:center;
	flex-direction:row;
	border-bottom: 1.5px solid black;
}
.view_contents_textarea {
	display: flex;
	border: none;
	width: 100%;
}
.view_contents_save_button {
	width: 20%;
	display: flex;
	justify-content: flex-end;
}