<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>memoPro</display-name>

<listener>
	<listener-class>jdbc.DBCPInitListener</listener-class>
</listener>

<context-param>
	<param-name>poolConfig</param-name>
	<param-value>
		jdbcdriver=com.mysql.cj.jdbc.Driver
		jdbcUrl=jdbc:mysql://localhost:3306/selfstudy?characterEncodig=utf8
		dbUser=self01
		dbPass=selfpro01
		validationQuery=select 1
		minIdle=3
		maxTotal=30
		poolName=selfstudy
	</param-value>
</context-param>
</web-app>